html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -61px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #375a7f;
  background-repeat: no-repeat;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
  /* filter: none; */
}

#wrap > .container {
  padding-top: 80px;
}
.container .credit {
  margin: 20px 0;
}
